{# templates/demande_dons/demanderdons.html.twig #}



<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Demander dons</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="/front/assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="/front/assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="/front/assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="/front/assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="/front/assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="/front/assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="/front/assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="/front/assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="/front/assets/css/responsive.css">

</head>


<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="assets/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li ><a href="#">Home</a>
									<ul class="sub-menu">
										<li><a href="index.html">Static Home</a></li>
										<li><a href="index_2.html">Slider Home</a></li>
									</ul>
								</li>
								<li><a href="about.html">About</a></li>
								<li class="current-list-item"><a href="#">Dons</a>
									<ul class="sub-menu">
<li><a href='/dons/{userId}'> Faire don </a></li>
										<li><a href='/demander_dons/{idUser}'>Demander dons</a></li>
										
									</ul>
								</li>
								<li><a href="news.html">News</a>
									<ul class="sub-menu">
										<li><a href="news.html">News</a></li>
										<li><a href="single-news.html">Single News</a></li>
									</ul>
								</li>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="shop.html">Shop</a>
									<ul class="sub-menu">
										<li><a href="shop.html">Shop</a></li>
										<li><a href="checkout.html">Check Out</a></li>
										<li><a href="single-product.html">Single Product</a></li>
										<li><a href="cart.html">Cart</a></li>
									</ul>
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Dons</p>
						<h1>Demander dons</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
    


	<!-- contact form -->
	<div class="contact-from-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mb-5 mb-lg-0">
					<div class="form-title">
   <h1>Poster une demande de don</h1>
					</div>
				 	<div id="form_status"></div>
					<div class="contact-form">
<form action='/demander_dons/{{ idUser }}' method="post">
        <p><textarea id="contenu" name="contenu" required cols="30" rows="10" placeholder="Contenu"></textarea></p>
        <p><input type="number" id="objectifPoints" name="objectifPoints" required placeholder="Objectif de points"></p>
        <p><input type="date" id="delai" name="delai" required placeholder="Délai"></p>
        <p><input type="submit" value="Submit"></p>
    </form>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<h2>Liste des demandes de dons</h2>

<!-- Liste des demandes de dons -->
<div class="latest-news mt-150 mb-150">
    <div class="container">
        <div class="row">
		
            {% for key, demande in demandes %}
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href=""><div class=""></div></a>
                    <div class="news-text-box">
                        <h3><a href="single-news.html">{{ demande.getContenu() }}</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> {{ demande.getNomuser() }} {{ demande.getPrenomuser() }}</span>
                            <span class="date"><i class="fas fa-calendar"></i>{{ demande.getDatePublication()|date('Y-m-d H:i:s') }}</span>
                        </p>
                        <p class="excerpt">Points gagnés: {{ demande.getNbpoints() }}</p>
						 <p>Objectif Points : {{ demande.objectifPoints }}</p>
 <p>Delai : {{ demande.delai|date('Y-m-d H:i:s') }}</p>
          {% if demande.delai is not null %}
    <!-- Obtenir la date et l'heure actuelles -->
    {% set maintenant = date() %}
    
    <!-- Calculer le temps restant jusqu'à la date de délai -->
    {% set diff = demande.delai.timestamp - maintenant.timestamp %}
    {% set jours = diff / 86400 %} {# 86400 secondes par jour #}
    {% set heures = (diff % 86400) / 3600 %} {# 3600 secondes par heure #}
    {% set minutes = ((diff % 86400) % 3600) / 60 %} {# 60 secondes par minute #}
    {% set secondes = ((diff % 86400) % 3600) % 60 %}
    
    Temps restant : {{ jours | round(0, 'floor') }} jours {{ heures | round(0, 'floor') }} heures {{ minutes | round(0, 'floor') }} minutes {{ secondes | round(0, 'floor') }} secondes
{% else %}
    <p>Le délai n'est pas défini pour cette demande.</p>
{% endif %}
<hr>


                        <!-- Lien pour transférer des points -->
<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{ demande.idDemande }}">Transférer des points <i class="fas fa-angle-right"></i></a>

                        <!-- Formulaire de transfert de points (masqué par défaut) -->
                        <!-- Formulaire de transfert de points (masqué par défaut) -->
<div class="modal fade" id="myModal{{ demande.idDemande }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="myModalLabel">Transférer des points</h2>
            </div>
            <div class="modal-body">
                <form id="transferForm{{ demande.idDemande }}">
                    <label for="donPoints">Nombre de points à transférer :</label>
                    <input type="number" id="donPoints{{ demande.idDemande }}" name="donPoints" required><br><br>
                    <div id="errorMessage{{ demande.idDemande }}" style="color: red;"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" id="submitForm{{ demande.idDemande }}" class="btn btn-primary">Transférer</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var myModal = new bootstrap.Modal(document.getElementById('myModal{{ demande.idDemande }}'));

        $('.read-more-btn').click(function(e) {
            e.preventDefault();
            myModal.show();
        });
         
        $('#submitForm{{ demande.idDemande }}').click(function(e) {
            e.preventDefault();
    // Gérer la soumission du formulaire de transfert de points
    $('[id^="submitForm"]').click(function(e) {
        e.preventDefault(); // Empêcher le comportement par défaut du formulaire
        var idDemande = $(this).attr('id').replace('submitForm', '');
        var donPoints = $('#donPoints' + idDemande).val();

        // Récupérer l'identifiant de l'utilisateur à partir de l'URL
        var userId = window.location.pathname.split('/').pop(); // Récupérer le dernier segment de l'URL

        $.ajax({
            url: '/transfer_points/' + userId, // Utiliser l'URL avec l'ID de l'utilisateur
            method: 'POST',
            data: {
                donPoints: donPoints,
                idDemande: idDemande
            },
            success: function(response) {
                if (response.success) {
                    alert('Points transférés avec succès.');
                    $('#pointsDemande' + idDemande).text(response.newPoints);
                    $('#myModal' + idDemande).hide(); // Masquer la fenêtre modale
                    // Rafraîchir la page après le transfert réussi
                    window.location.reload();
                } else {
                    // Afficher le message d'erreur dans l'élément errorMessage
                    $('#errorMessage' + idDemande).text(response);
                }
            },
            error: function(xhr, status, error) {
                // Afficher le message d'erreur dans l'élément errorMessage
                $('#errorMessage' + idDemande).text('Erreur: ' + xhr.responseText); 
            }
        });
    });

    // Gérer le clic sur le bouton de fermeture du modal
    $('.close').click(function() {
        $(this).closest('.modal').hide();
    });
            myModal.hide();
        });
    });
</script>



                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
    <!-- jQuery -->
   <!-- JavaScript pour gérer les événements du modal -->




                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






    <div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
							<li>support@fruitkha.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Dons</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
                  <li><a href='/dons/{userId}'>Faire un don</a></li>
							<li><a href="services.html">Shop</a></li>
							<li><a href="news.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
						Distributed By - <a href="https://themewagon.com/">Themewagon</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->

	
	
<!-- jquery -->
	<script src="/front/assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="/front/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="/front/assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="/front/assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/front/assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/front/assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/front/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/front/assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/front/assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="/front/assets/js/main.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




</body>

